<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-contrat-abonnement-compte-heading"
        data-cy="ContratAbonnementCompteCreateUpdateHeading"
        jhiTranslate="bankyApp.contratAbonnementCompte.home.createOrEditLabel"
      >
        Créer ou éditer un Contrat Abonnement Compte
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="bankyApp.contratAbonnementCompte.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_idContrat" jhiTranslate="bankyApp.contratAbonnementCompte.idContrat">Id Contrat</label>
          <input type="text" class="form-control" name="idContrat" id="field_idContrat" data-cy="idContrat" formControlName="idContrat" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_idAbonne" jhiTranslate="bankyApp.contratAbonnementCompte.idAbonne">Id Abonne</label>
          <input type="text" class="form-control" name="idAbonne" id="field_idAbonne" data-cy="idAbonne" formControlName="idAbonne" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_idCompteBancaire" jhiTranslate="bankyApp.contratAbonnementCompte.idCompteBancaire"
            >Id Compte Bancaire</label
          >
          <input
            type="text"
            class="form-control"
            name="idCompteBancaire"
            id="field_idCompteBancaire"
            data-cy="idCompteBancaire"
            formControlName="idCompteBancaire"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_contrat" jhiTranslate="bankyApp.contratAbonnementCompte.contrat">Contrat</label>
          <select
            class="form-control"
            id="field_contrat"
            data-cy="contrat"
            name="contrat"
            formControlName="contrat"
            [compareWith]="compareContrat"
          >
            <option [ngValue]="null"></option>
            @for (contratOption of contratsSharedCollection; track $index) {
              <option [ngValue]="contratOption">{{ contratOption.idContrat }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_abonne" jhiTranslate="bankyApp.contratAbonnementCompte.abonne">Abonne</label>
          <select
            class="form-control"
            id="field_abonne"
            data-cy="abonne"
            name="abonne"
            formControlName="abonne"
            [compareWith]="compareAbonne"
          >
            <option [ngValue]="null"></option>
            @for (abonneOption of abonnesSharedCollection; track $index) {
              <option [ngValue]="abonneOption">{{ abonneOption.idAbonne }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_compteBancaire" jhiTranslate="bankyApp.contratAbonnementCompte.compteBancaire"
            >Compte Bancaire</label
          >
          <select
            class="form-control"
            id="field_compteBancaire"
            data-cy="compteBancaire"
            name="compteBancaire"
            formControlName="compteBancaire"
            [compareWith]="compareCompteBancaire"
          >
            <option [ngValue]="null"></option>
            @for (compteBancaireOption of compteBancairesSharedCollection; track $index) {
              <option [ngValue]="compteBancaireOption">{{ compteBancaireOption.idCompteBancaire }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Annuler</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Sauvegarder</span>
        </button>
      </div>
    </form>
  </div>
</div>
