<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-message-erreur-heading"
        data-cy="MessageErreurCreateUpdateHeading"
        jhiTranslate="bankyApp.messageErreur.home.createOrEditLabel"
      >
        Créer ou éditer un Message Erreur
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="mb-3">
          <label class="form-label" for="field_idMessageErreur" jhiTranslate="bankyApp.messageErreur.idMessageErreur"
            >Id Message Erreur</label
          >
          <input
            type="text"
            class="form-control"
            name="idMessageErreur"
            id="field_idMessageErreur"
            data-cy="idMessageErreur"
            formControlName="idMessageErreur"
            [readonly]="editForm.get('idMessageErreur')!.disabled"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_codeErreur" jhiTranslate="bankyApp.messageErreur.codeErreur">Code Erreur</label>
          <input
            type="text"
            class="form-control"
            name="codeErreur"
            id="field_codeErreur"
            data-cy="codeErreur"
            formControlName="codeErreur"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_description" jhiTranslate="bankyApp.messageErreur.description">Description</label>
          <input
            type="text"
            class="form-control"
            name="description"
            id="field_description"
            data-cy="description"
            formControlName="description"
          />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Annuler</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Sauvegarder</span>
        </button>
      </div>
    </form>
  </div>
</div>
