<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (variableNotification(); as variableNotificationRef) {
      <div>
        <h2 data-cy="variableNotificationDetailsHeading">
          <span jhiTranslate="bankyApp.variableNotification.detail.title">Variable Notification</span>
        </h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="bankyApp.variableNotification.idVarNotification">Id Var Notification</span></dt>
          <dd>
            <span>{{ variableNotificationRef.idVarNotification }}</span>
          </dd>
          <dt><span jhiTranslate="bankyApp.variableNotification.codeVariable">Code Variable</span></dt>
          <dd>
            <span>{{ variableNotificationRef.codeVariable }}</span>
          </dd>
          <dt><span jhiTranslate="bankyApp.variableNotification.description">Description</span></dt>
          <dd>
            <span>{{ variableNotificationRef.description }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Retour</span>
        </button>

        <button
          type="button"
          [routerLink]="['/variable-notification', variableNotificationRef.idVarNotification, 'edit']"
          class="btn btn-primary"
        >
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editer</span>
        </button>
      </div>
    }
  </div>
</div>
