<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-type-contrat-heading" data-cy="TypeContratCreateUpdateHeading" jhiTranslate="bankyApp.typeContrat.home.createOrEditLabel">
        Créer ou éditer un Type Contrat
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="mb-3">
          <label class="form-label" for="field_idTypeContrat" jhiTranslate="bankyApp.typeContrat.idTypeContrat">Id Type Contrat</label>
          <input
            type="text"
            class="form-control"
            name="idTypeContrat"
            id="field_idTypeContrat"
            data-cy="idTypeContrat"
            formControlName="idTypeContrat"
            [readonly]="editForm.get('idTypeContrat')!.disabled"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_libelle" jhiTranslate="bankyApp.typeContrat.libelle">Libelle</label>
          <input type="text" class="form-control" name="libelle" id="field_libelle" data-cy="libelle" formControlName="libelle" />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Annuler</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Sauvegarder</span>
        </button>
      </div>
    </form>
  </div>
</div>
