<div>
  <h2 id="page-heading" data-cy="ParticipantHeading">
    <span jhiTranslate="bankyApp.participant.home.title">Participants</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="bankyApp.participant.home.refreshListLabel">Actualiser la liste</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-participant"
        [routerLink]="['/participant/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="bankyApp.participant.home.createLabel">Créer un nouveau Participant</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (participants?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="bankyApp.participant.home.notFound">Aucun Participant trouvé</span>
    </div>
  }

  @if (participants && participants.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [sortState]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="idParticipant">
              <div class="d-flex">
                <span jhiTranslate="bankyApp.participant.idParticipant">Id Participant</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="codeParticipant">
              <div class="d-flex">
                <span jhiTranslate="bankyApp.participant.codeParticipant">Code Participant</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="codeBanque">
              <div class="d-flex">
                <span jhiTranslate="bankyApp.participant.codeBanque">Code Banque</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="nomBanque">
              <div class="d-flex">
                <span jhiTranslate="bankyApp.participant.nomBanque">Nom Banque</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="libelle">
              <div class="d-flex">
                <span jhiTranslate="bankyApp.participant.libelle">Libelle</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="pays">
              <div class="d-flex">
                <span jhiTranslate="bankyApp.participant.pays">Pays</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="isActif">
              <div class="d-flex">
                <span jhiTranslate="bankyApp.participant.isActif">Is Actif</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (participant of participants; track trackIdParticipant) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/participant', participant.idParticipant, 'view']">{{ participant.idParticipant }}</a>
              </td>
              <td>{{ participant.codeParticipant }}</td>
              <td>{{ participant.codeBanque }}</td>
              <td>{{ participant.nomBanque }}</td>
              <td>{{ participant.libelle }}</td>
              <td>{{ participant.pays }}</td>
              <td>{{ participant.isActif }}</td>
              <td class="text-end">
                <div class="btn-group">
                  <a
                    [routerLink]="['/participant', participant.idParticipant, 'view']"
                    class="btn btn-info btn-sm"
                    data-cy="entityDetailsButton"
                  >
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Voir</span>
                  </a>

                  <a
                    [routerLink]="['/participant', participant.idParticipant, 'edit']"
                    class="btn btn-primary btn-sm"
                    data-cy="entityEditButton"
                  >
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editer</span>
                  </a>

                  <button type="submit" (click)="delete(participant)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Supprimer</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (participants && participants.length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems"
          [page]="page"
          [pageSize]="itemsPerPage"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        ></ngb-pagination>
      </div>
    </div>
  }
</div>
