<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-contrat-heading" data-cy="ContratCreateUpdateHeading" jhiTranslate="bankyApp.contrat.home.createOrEditLabel">
        Créer ou éditer un Contrat
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="mb-3">
          <label class="form-label" for="field_idContrat" jhiTranslate="bankyApp.contrat.idContrat">Id Contrat</label>
          <input
            type="text"
            class="form-control"
            name="idContrat"
            id="field_idContrat"
            data-cy="idContrat"
            formControlName="idContrat"
            [readonly]="editForm.get('idContrat')!.disabled"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_dateValidite" jhiTranslate="bankyApp.contrat.dateValidite">Date Validite</label>
          <div class="d-flex">
            <input
              id="field_dateValidite"
              data-cy="dateValidite"
              type="datetime-local"
              class="form-control"
              name="dateValidite"
              formControlName="dateValidite"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_typeContrat" jhiTranslate="bankyApp.contrat.typeContrat">Type Contrat</label>
          <select
            class="form-control"
            id="field_typeContrat"
            data-cy="typeContrat"
            name="typeContrat"
            formControlName="typeContrat"
            [compareWith]="compareTypeContrat"
          >
            <option [ngValue]="null"></option>
            @for (typeContratOption of typeContratsSharedCollection; track $index) {
              <option [ngValue]="typeContratOption">{{ typeContratOption.idTypeContrat }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Annuler</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Sauvegarder</span>
        </button>
      </div>
    </form>
  </div>
</div>
